.items_container .product_forms {
    display: flex;
    /* background: red; */
    flex-flow: row wrap;
    gap: 10px;
    padding: 10px;
    margin-bottom: 13px;
}

.items_container .product_forms>div {
    width: 260px;
}

.items_container .product_forms>div mat-form-field {
    width: 100%;
}

.items_container {
    padding-top: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px #12121229;
}

.items_container h2 {
    margin-left: 10px;
}
.vendor_details {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    box-shadow: 0 0 10px #0000001a;
}
.vendor_details>div {
    width: 280px;
}
.vendor_details>div mat-form-field {
    width: 100%;
}
.product_detail_col>div {
    display: flex;
    gap: 10px;
    font-size: 13px;
}

.product_detail_col>div>div:first-child {color: green;width: 75px;position: relative;}

.product_detail_col>div>div:first-child:after {
    content: ":";
    position: absolute;
    right: 0;
}
.table td, .table th{
    font-size: 13px;
    vertical-align: middle;
}
.table tfoot th:first-child {
    text-align: right;
    border-right: 1px solid #e7e7e7;
}
.btn_area {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    gap: 10px;
}
.error{ position: relative; top:-30px}
.chares_remarks {

    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}
.muty_inputs{ display: flex; gap: 15px; flex-flow: row wrap;}
.no_shadow {
    box-shadow: none !important;  /* Remove shadow */
  }
  .button_container {
    margin: 0 auto 44px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: #03a9f433;
    padding: 13px 10%;
    border-radius: 9px;
}

.button_container>div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
}

.button_container>div button {
    margin: 0 !important;
    width: 100%;

    height: 60px;
    font-size: 20px;
}

.button_container>div button mat-icon {
    color: #fff;
    width: 40px !important;
    height: 30px !important;
    font-size: 34px !important;
}
.table_outer {
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2784313725);
    font-size: 14px !important;
}

.table_outer table {
    margin-bottom: 0;
    border-color: #b4dbed;
}
