.inner_page_table table tr td{ font-size: 13px; vertical-align: middle; }
.inner_page_table table tr td:nth-child(3){ max-width: 236px;  }
.ledger span {color: #2E7D32;font-weight: 500;}
// .heading_with_btn {
//     display: flex;
//     justify-content: space-between;
//     padding: 0 0 16px;
// }
