.page_wrapper {
    margin: 30px 015px;
}

.c_card_body {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #b9b3b3;
}

.c_card_body mat-form-field {
    min-width: 410px;
}
