.wages_dynamic {
    display: inline-flex;
    gap: 16px;
    background: white;
    margin-bottom: 16px;
    padding: 15px 15px 0;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgb(4 4 4 / 34%);
    min-width: 500px;
}


.wages_dynamic>mat-form-field {
    min-width: 310px;
}
.form_ara, .old_salary {
    max-width: 740px;
}
.old_salary {margin-bottom: 15px;}
.form_ara table {
    background: white;
    margin: 19px 0;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 3px rgba(4, 4, 4, 0.34);
}

.form_ara table tr td {
    border-bottom: 1px solid #ddd;
    padding: 6px 19px;
    border-right: 1px solid #ddd !important;
}

.form_ara table tr:last-child td {
    border: 0;
}

.form_ara table tr td:last-child {
    border-right: 0;
    font-weight: bold;
}
.personal_info>div {
    display: flex;
    gap: 10px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.personal_info>div>div:first-child {
    font-weight: 500;
    min-width: 185px;
    position: relative;
}

.personal_info>div>div:first-child:after {
    content: ":";
    position: absolute;
    top: 0;
    right: 10px;
}

.personal_info>div:last-child {
    border: 0;
}

.profile.table {
    border:1px solid #fff;
    background-color: #e9e9e9;
}

.profile.table tr td {
    border-bottom: 1px solid #fff;
    padding: 6px 19px;
    border-right: 1px solid #fff !important;
}

.profile.table tr:last-child td {
    border: 0;

}.profile.table tr td:first-child {
    color: #1B5E20;

}

.profile.table tr td:last-child {
    border-right: 0 !important;
    font-weight: bold;
}
.setting_container {
    display: flex;
    gap: 20px;
}
.profile.table th {
    padding: 10px;
    background: #b63b4d;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.profile.table tr th {
    border-right: 1px solid #ffffff80;
}

.profile.table tr th:last-child {
    border: 0;
}
.payout_tbl {max-height: 200px;overflow-y: auto;}
